@function rem($size: 16) {
  @return calc($size / 16) + rem;
}

@mixin line-height($font-size, $line-height: 0) {
  @if $line-height != 0 {
    @if $line-height < 10 {
      line-height: $line-height;
    } @else {
      line-height: calc($line-height / $font-size);
    }
  }
}

@mixin letter-spacing($font-size, $letter-spacing: 0) {
  @if $letter-spacing != 0 {
    @if $letter-spacing < 10 {
      letter-spacing: rem($letter-spacing);
    } @else {
      letter-spacing: rem(($font-size * $letter-spacing) / 1000);
    }
  }
}

@mixin font($font-size, $line-height: 0, $letter-spacing: 0) {
  font-size: rem($font-size);

  @include line-height($font-size, $line-height);
  @include letter-spacing($font-size, $letter-spacing);
}
